{% extends 'base.html' %}

{% block meta %}
<title>Pembuatan Task</title>
{% endblock meta %}

{% block content %}  

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'create_task.css' %}">
</head>

<div>
    <h1 class="header">Task Baru</h1>  
        <form method="POST" action="">  
            {% csrf_token %}  

            <div class="formTask">
                <table>
                    <tr>
                        <td>
                            {{ form.as_table }}  
                        </td>
                    </tr>
            </div>
                    <tr>  
                        <td><input class="button" type="submit" value="Create Task"></td> 
                    </tr>
        </form>
                    <tr>
                        <form method="GET" action="/todolist/">
                            <td>
                                <input class="button" type="submit" name="back" value="Back">
                            </td>
                        </form>
                    </tr>                
                </table>  
        
</div>  
{% endblock content %}