{% extends 'base.html' %}

{% block meta %}
<title>Pembuatan Task</title>
{% endblock meta %}

{% block content %}  

<div class = "login">
    
    <h1>Task Baru</h1>  

    <head>
        <style>
        table,th{
          border: 2px solid black;
          border-collapse: collapse;
          font-size : 18px;
          background-color: #965AA9;
        }
        td{
          border: 2px solid black;
          border-collapse: collapse;
          background-color: #D6BFE4;
          font-weight: normal;
          text-align: left;
        }
        </style>
    </head>

        <form method="POST" action="">  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td><input type="submit" value="Create Task"></td> 
                </tr>
            </table>  
        </form>
</div>  

<button><a href="{% url 'todolist:show_todolist' %}">Back</a></button>

{% endblock content %}