{% extends 'base.html' %}

{% block meta %}
<title>Pembuatan Task</title>
{% endblock meta %}

{% block content %}  

<div class = "login">
    
    <h1>Task Baru</h1>  

        <form method="POST" action="">  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" value="Create Task"></td>  
                </tr>
            </table>  
        </form>
</div>  

<button><a href="{% url 'todolist:show_todolist' %}">Back</a></button>

{% endblock content %}