{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>

<div>
    
    <h1 class="header">Formulir Registrasi</h1>  

        <form method="POST" action="">  
            {% csrf_token %}
            
            <div class="formRegister">
                <table>
                    <tr>
                        <td>
                            {{ form.as_table }} 
                        </td> 
                    </tr>                      
            </div>
            
                    <tr>
                        <td>
                            <input class="button" type="submit" name="submit" value="Daftar"/>  
                        </td>
                    </tr>
        </form>
                    <tr>
                        <form method="GET" action="/todolist/login/">
                            <td>
                                <input class="button" type="submit" name="back" value="Back">
                            </td>
                        </form>
                    </tr>
                </table>

    {% if messages %}  
        <ul class="message">   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}
