{% extends 'base.html' %}

 {% block content %}
 <head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'todolist.css' %}">
</head> 

 <nav class="navbar navbar-light" style="background-color: #D7BCE8;">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">To Do List</a>
          <span class="navbar-left navbar-text">{{username}}</span> 
      </div>

      <ul class="nav navbar-nav navbar-right">
        <button class="btn btn-outline-dark"><a href="{% url 'todolist:logout' %}">Logout</a></button>
      </ul>
  </div>
</nav>

<div class="body">
  {% comment %} Add the data below this line {% endcomment %}
  {% for todolist_task in list_todolist_user %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{todolist_task.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Tanggal : {{todolist_task.date}}</h6>
        <p class="card-text">{{todolist_task.description}}</p>
      </div>
    </div>
  {% endfor %}

  <br>
  <button class="button"><a href="{% url 'todolist:create_task' %}">Tambah Task Baru</a></button>
  <br>
  <br>
  <h5 class="sesi">Sesi terakhir login: {{ last_login }}</h5>
  <hr>
  <h5 class="footer">dibuat oleh: {{nama}} - {{NPM}}</h5>
</div>
 {% endblock content %}