{% extends 'base.html' %}

 {% block content %}

  <h1>My Watchlist</h1>

  <h3>Name: </h3>
  <p>{{nama}}</p>

  <h4>Student ID: </h4>
  <p>2106707012</p>
  
  <br>
  <head>
    <style>
    table,th{
      border: 2px solid black;
      border-collapse: collapse;
      background-color: #E2DBCC;
    }
    td{
      border: 1px solid black;
      border-collapse: collapse;
      background-color: #FFF8E8;
      font-weight: normal;
      text-align: center;
    }
    </style>
    </head>  
  <table>
    <tr>
      <th style="width:5%">Watched</th>
      <th>Title</th>
      <th style="width:5%">Rating
      <th style="width:10%">Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for film in list_watchlist %}
      <tr>
        <td>{{film.status_watched_film}}</td>
        <td>{{film.title_film}}</td>
        <td>{{film.rating_film}}</td>
        <td>{{film.release_date_film}}</td>
        <td>{{film.review_film}}</td>
      </tr>
    {% endfor %}
  </table>
  <br>
  <h4>{{status_watchlist}}</h4>>

 {% endblock content %}