body {
    border-collapse: collapse;
    padding: 50px 50px;
    display: grid;
    justify-content: center;
    background-color: #372867;
    background-image: linear-gradient(to right, #372867, #8370C4);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    max-height: 100%;
}

.header {
    color: #D7BCE8;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
}

.formRegister{
    color: white;
}

.button{
    border: none;
    padding: 1px 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 15px;
    background-color: white;
}

.button:hover{
    background-color:#D7BCE8;
    transition: .2s;
}

.button:active{
    background-color: white;
    transform: translateX(3px);
    transform: translateY(3px);
}

.message{
    color: white;
}